/* @import url(http://fonts.googleapis.com/css?family=Reenie+Beanie); */
body {
	font-family: Verdana, sans;
	font-size: .8em;
	color: #222;
	min-width: 80em;
}

strong {
	font-weight: bold;
}

a {
	color: #0E70B5;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #004170;
}


blockquote {
	margin: 1em 0 1em 0;
	font-size: 1.2em;
	font-family: Georgia;
	font-style: italic;
	color: #333;
}

.button {
	background: #004170;
	color: #FFF;
	display: inline-block;
	margin: 1em auto;
	display: inline-block;
	clear: both;
	padding: .2em .5em;
	border: none;
	font-size: 1.6em;
	font-family: Reenie Beanie, Georgia, sans-serif;
}

.button:hover {
	border: 1px solid #000;
	background: #FFF;
	color: #000;
}

#nav {
	background: #333;
	color: #FFF;
	text-align: right;
	padding: .5em 2em .5em 0;
	border-bottom: 1px solid #DDD;
}

#nav a {
	color: #AAA;
	padding-left: .5em;
	border-left: 1px solid #555;
}

#nav li {
     display: inline;
     padding-left: 1em;
}

#hd {
	margin-bottom: 6em;
}

#hd a {
	color: #000;
}

#hd h1 {
	font-size: 5em;
	font-family: Reenie Beanie, Georgia, sans-serif;
	transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
}

#hd h2 {
	margin: -1em 0 0 3em;
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
}

#bd { }

.squeallist {
	min-height: 60em;
}

.squeallist .errorlist {
	color: maroon;
	font-family: Georgia;
	font-size: 1.1em;
	font-weight: bold;
	margin: .5em 0;
}

.squeallist ol li {
	border-left: 10px solid #DDD;
}

.squeallist ol li:hover, .squeallist ol li:first-child {
	border-left: 10px solid #AAA;
}

.squeallist ol li {
	display: block;
	clear: both;
	padding: 1em .5em;
	height: 6.5em;
	width: 40em;
}

h3 {
	display: inline-block;
	font-size: 1.3em;
	font-family: Verdana, sans;
	background: #000;
	color: #FFF;
	padding: .1em .2em;
	margin: 0 0 .5em -2em;
	transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
}

.squeal .user {
	float: left;
	width: 6em;
	text-align: center;
}

.avatar {
	display: block;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 1px 1px 1px #666;
	-moz-box-shadow: 1px 1px 1px #666;
	-webkit-box-shadow: 1px 1px 1px #666;
}

.squeal .content {
	float: left;
	width: 30em;
	padding: .5em 1em 0 1em;
}

.squeal .date {
	display: block;
	color: #888;
	
}

.userlist {

}

.userlist li, .userlist .user {
	display: inline;
}

.signup {
	padding-top: 5em;
}

.squeal-login {
	text-align: center;
	z-index: -1;
}

.squeal-login input[type=text], .squeal-login input[type=password] {
	border: 2px solid #AAA;
	padding: .2em .5em;
	font-family: Georgia, sans-serif;
	font-size: 1.2em;
	display: inline-block;
	margin-bottom: .5em;
}

.squeal-login label {
	width: 6em;
	display: inline-block;
	font-weight: bold;
}

.squeal-login .errorlist {
	font-family: Georgia, sans-serif;
	font-size: 1.2em;
	margin-bottom: 1em;
	color: maroon;
	font-weight: bold;
}

.card {
	margin: 0 auto;
	padding: 2em 1em;
	width: 20em;
	border: 5px solid #000;
	transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
}

.squeal-login h3 {
	font-size: 3em;
	display: inline-block;	
	margin: 0 0 0 -5em;
	padding-bottom: .2em;
	z-index: 10;
}

.actionlist {
	margin: 1em 0;
}

.post-squeal {
	width: 37em;
}

.post-squeal .button-wrap{
	text-align: right;
}

.post-squeal .button {
	margin-top: .5em;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 1px 1px 1px #000;
	-moz-box-shadow: 1px 1px 1px #000;
	-webkit-box-shadow: 1px 1px 1px #000;
}

.post-squeal textarea {
	width: 30em;
	height: 5em;
	padding: .25em .5em;
	font-family: Georgia, sans-serif;
	font-size: 1.2em;
	color: #333;
	display: block;
	border: 1px solid #AAA;
	border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 1px 1px 1px #666;
	-moz-box-shadow: 1px 1px 1px #666;
	-webkit-box-shadow: 1px 1px 1px #666;
	outline: 0;
}

.post-squeal textarea:focus {
	
}