{% include "squeal/head.html" %}
      <div id="bd" class="yui-gc">
	{% block body %}
	 {% block squeallist %}
	 <div class="squeallist yui-u first">
		 {% block post-squeal %}{% endblock %}
		 {% block squeallist-title %}<h3>Latest squeals:</h3>{% endblock %}
		 <ol>
		 {% for squeal in squeals.object_list %}
			  <li class="squeal {% if squeal.author.user == user %} owned {% endif %}">
				{% include "squeal/squeal-snippet.html" %}
			 </li>
		 {% empty %}
			The roost is silent. No squeals yet.
		 {% endfor %}
		 </ol>
		{% block paginator %}
		  {% if squeals.has_previous %}
		      <a class="button" href="{% url squeal.views.index squeals.previous_page_number %}">&laquo; This way</a>
		  {% endif %}

		  {% if squeals.has_next %}
		      <a class="button" href="{% url squeal.views.index squeals.next_page_number %}">That way &raquo;</a>
		  {% endif %}
		{% endblock paginator %}
	 </div>
	  {% endblock %}

	  {% block userinfo %} {% endblock %}

	  {% block userlist %}
	 <div class="userlist yui-u">
		<h3>Who's on Razpilnik!</h3>
		 <ol>
		 {% for squealer in squealers %}
			  <li class="squealer">
			      <a title="{{ squealer.user.username }}" href="{% url squeal.views.squealer squealer.user.username %}">
			      <img class="avatar" height="32px" width="32px" src="/static/{{ squealer.avatar|default:"/images/rooster.png" }}">
				{{ squeal.author.user.username }}
			      </a>
			 </li>
		 {% endfor %}
		 </ol>
		 <blockquote>
		  Chicken, roosters, pigeons, doves, hawks, kites, eagles, hummingbirds and the occasional mockingbird, penguins, owls, trogons and other strange birds.
		  Winged critters.
		  <strong>You find them all on Razpilnik!</strong>
		 </blockquote>
	  </div>
	   {% endblock %}
	   
	  {% if not user.is_authenticated %}
	   {% block signup %}
	  <div class="signup">
		<h3>Squealing is bad-ass</h3>
		<blockquote>
		   Razpilnik is a rich source of instant cackle. Stay squealing. Keep others squealing. It's a whole roost.
		   <br>
		   <a class="button" href="{% url registration.views.register %}">Join the Razpilnik! </a>
		</blockquote>
	  </div>
	    {% endblock %}
	   {% endif %}
	  {% endblock body %}
	</div>
</div>
{% include "squeal/foot.html" %}
