{% extends "squeal/index.html" %}

{% block title %} {{ squealer.user.username }}'s squeals - {{ block.super }} {% endblock %}
{% block squeallist-title %}<h3>{{ squealer.user.username }} says:</h3>{% endblock %}


{% block post-squeal %}
  {% if squealer.user.username == user.username %}
  <form action="" class="post-squeal" method="post">
    <h3>What's on your mind?</h3>
    {% csrf_token %}
    {{ form.content.errors }}
    {{ form.content }}
    <div class="button-wrap">
    <input class="button" type="submit" value="squeal it!">
    </div>
  </form>
  {% endif %}
{% endblock %}

{% block userinfo %} 
  <h3>{{ squealer.user.username }}</h3><br>
  <img class="avatar" src="/static/{{ squealer.avatar|default:"/images/rooster.png" }}" ><br>
  {% if user.username != squealer.user.username %}
  {% if user.get_profile not in followers.all %}
  <h3><a href="{% url squeal.views.follow squealer.user.username %}">+ Follow</a></h3>
  {% else %}
  <h3><a href="{% url squeal.views.unfollow squealer.user.username %}">+ Stop following</a></h3>
  {% endif %}
  {% else %}
  <h3>+ This is you</h3>
  {% endif %}
  <ul class="userinfo">
    <li><strong>Name:</strong> {{ squealer.user.first_name }} {{ squealer.user.last_name }} </li>
    <li><strong>Location:</strong> {{ squealer.location }}</li>
    <li><strong>Bio:</strong> {{ squealer.bio }}</li>
    <li><strong>Website:</strong> {{ squealer.website|urlizetrunc:15 }}</li>
    <li><strong>Following:</strong> {{ squealer.following.count }}</li>
    <li><strong>Squeals:</strong> </li>
  </ul>
{% endblock %}

{% block userlist %}

<h3>Following</h3><br>
<div class="userlist yui-u">
<ol>
{% for squealer in squealer.following.all %}
	<li class="squealer">
	    <a title="{{ squealer.user.username }}" href="{% url squeal.views.squealer squealer.user.username %}">
	    <img class="avatar" height="32px" width="32px" src="/static/{{ squealer.avatar|default:"/images/rooster.png" }}">
	      {{ squeal.author.user.username }}
	    </a>
	</li>
{% endfor %}
</ol>
</div>

<h3>Followers</h3><br>
<div class="userlist yui-u">
<ol>
{% for squealer in followers.all %}
	<li class="squealer">
	    <a title="{{ squealer.user.username }}" href="{% url squeal.views.squealer squealer.user.username %}">
	    <img class="avatar" height="32px" width="32px" src="/static/{{ squealer.avatar|default:"/images/rooster.png" }}">
	      {{ squeal.author.user.username }}
	    </a>
	</li>
{% endfor %}
</ol>
</div>

{% endblock %}