{% extends "squeal/index.html" %}

{% block title %} {{ squealer.user.username }}'s squeals - {{ block.super }} {% endblock %}
{% block squeallist-title %}<h3>{{ squealer.user.username }} says:</h3>{% endblock %}


{% block post-squeal %}
  {% if squealer.user.username == user.username %}
  <form action="" class="post-squeal" method="post">
    <h3>What's on your mind?</h3>
    {% csrf_token %}
    {{ form.content.errors }}
    {{ form.content }}
    <div class="button-wrap">
    <input class="button" type="submit" value="squeal it!">
    </div>
  </form>
  {% endif %}
{% endblock %}

{% block userinfo %} 
  <h3>{{ squealer.user.username }}</h3>
  <img class="avatar" src="/static/images/rooster.png" >
  {% if user.username != squealer.user.username %}
  {% if user.get_profile not in followers.all %}
  <h3><a href="{% url squeal.views.follow squealer.user.username %}">+ Follow</a></h3>
  {% else %}
  <h3><a href="{% url squeal.views.follow squealer.user.username %}">+ Stop following</a></h3>
  {% endif %}
  {% else %}
  <h3>+ This is you</h3>
  {% endif %}
  <ul class="userinfo">
    <li><strong>Name:</strong> {{ squealer.first_name }} {{ squealer.last_name }} </li>
    <li><strong>Location:</strong> {{ squealer.location }}</li>
    <li><strong>Bio:</strong> {{ squealer.bio }}</li>
    <li><strong>Website:</strong> {{ squealer.website|urlizetrunc:15 }}</li>
    <li><strong>Followers:</strong> {{ squealer.followers.count }}</li>
    <li><strong>Following:</strong> {{ squealer.following.count }}</li>
    <li><strong>Squeals:</strong> </li>
  </ul>
{% endblock %}

{% block userlist %}
<h3>Followers</h3>
<ol>
{% for follower in followers.all %}
 <li>{{ follower.user.username }}</li>
{% endfor %}
</ol>

<h3>Following</h3>
{% for following in squealer.following.all %}
 <li>{{ following.user.username }}</li>
{% endfor %}
{% endblock %}

